{% extends '_base.html.twig' %}

{% block main %}
    {% import '_macros.twig' as macros %}
    <div itemscope itemtype="http://schema.org/CreativeWork">

        <h2 itemprop="name">{{ page.metadata.title }}</h2>

        {% if page.metadata.images.0 is defined %}
            {{ macros.image(page.metadata.images.0, false) }}
        {% endif %}

        <p><strong>Item number:</strong> <span itemprop="identifier">{{ page.id|basename }}</span></p>

        {% if page.metadata.date is defined %}
            <p>
                <strong>Date:</strong>
                {{ macros.date(page.metadata.date, page.metadata.date_precision) }}
            </p>
        {% endif %}

        <p>
            <strong>Storage location:</strong>
            {% if page.metadata.storage_location %}
                {% set sl = database.query('select * from pages where id = "/storage-locations/'~page.metadata.storage_location~'"').fetch %}
                <a href="{{ page.link(sl.id) }}.html">{{ sl.title }}</a>
            {% endif %}
        </p>

        {% if page.metadata.tags is defined %}
            <p>
                <strong>Tags:</strong>
                {% for t in page.metadata.tags %}
                    {% set tag = database.query('SELECT * FROM pages WHERE id = "/tags/'~t~'"').fetch() %}
                    {% if tag %}
                        {% if tag.wikidata %}
                            <span itemscope itemtype="http://schema.org/Thing">
                                <meta itemprop="url" content="https://www.wikidata.org/wiki/{{ tag.wikidata }}">
                                <a href="{{ page.link(tag.id) }}.html" rel="tag" itemprop="sameAs">{{ tag.title }}</a>
                            </span>
                        {% else %}
                            <a href="{{ page.link(tag.id) }}.html" rel="tag">{{ tag.title }}</a>
                        {% endif %}
                    {% else %}
                        {{ t }}
                    {% endif %}
                    &middot;
                {% endfor %}
            </p>
        {% endif %}

        <p itemprop="license">
            {% if page.metadata.license == 'cc-by' %}
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                This work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            {% elseif page.metadata.license == 'pd' %}
                <span xmlns:dct="http://purl.org/dc/terms/">
                    <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
                        <img src="https://licensebuttons.net/p/mark/1.0/80x15.png"
                             alt="Public Domain Mark" />
                    </a>
                    This work is free of known copyright restrictions and is in the public domain.
                </span>
            {% elseif page.metadata.license == 'copyright' %}
                &copy;
                {{ macros.date(page.metadata.date, 'year') }}
                {% if page.metadata.author is defined %}{{ page.metadata.author }}{% else %}<abbr title="Anonymous author">Anon.</abbr>{% endif %}
            {% else %}
                No license has been specified for this file.
                Please <a href="{{ page.link('/contact') }}.html">contact us</a> for more information about reuse.
            {% endif %}
        </p>

        {% if page.metadata.images is defined %}
            <h3 id="images">Images</h3>
            <div class="gallery">
                {% for idx,image in page.metadata.images %}
                    {{ macros.image(image) }}
                {% endfor %}
            </div>
        {% endif %}

         {{ page.body|md2html|raw }}

    </div>
{% endblock %}
