{% extends '_base.html.twig' %}

{% block main %}
    {% import '_macros.twig' as macros %}

    <h2>
        <a href="{{ page.link('/storage-locations') }}.html">Storage location:</a>
        {{ page.metadata.title }}
    </h2>
    <p>
        This page represents a storage location in the archives.
        It is also available as <a href="{{ page.link(page.id) }}.pdf">a PDF</a>.
    </p>

    {% if page.metadata.description %}
        {{ page.metadata.description|md2html|raw }}
    {% endif %}

    <ol>
        {% for item in database.query('select * from pages where "/storage-locations/"||storage_location = :storage_location ORDER BY CAST(storage_location_key AS INTEGER) ASC', {storage_location: page.id}) %}
            <li>
                [{{item.storage_location_key}}]
                <a href="{{ page.link(item.id) }}.html">{{ item.title }}</a>
                {{ macros.date(item.date, item.date_precision) }}
            </li>
        {% endfor %}
    </ol>

{% endblock %}
